@layer reset;

@import url('@my/utils.css/reset') layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --spacing-16: 16px;
  --spacing-12: 12px;
  --spacing-20: 20px;

  --rounding-24: 24px;
  --rounding-modal-m: var(--rounding-24);

  --size-control-s: 24px;
  --size-modal-desktop-height-max: 768px;
  --size-modal-desktop-width-s: 390px;
  --size-modal-desktop-width-m: 620px;

  --color-border-base-alfa-container: rgba(179, 182, 189, 0.12);
  --color-content-base-primary: #f0f2f5;
  --color-content-base-secondary: #9aa1b1;
  --color-background-base-alfa-static-black-20: rgba(0, 0, 0, 0.2);
  --color-background-base-alfa-scrim: rgba(0, 0, 0, 0.2);

  --modal-color-bg: #fff;
  --modal-margin-mobile: 24px;
  --modal-margin-desktop: 32px;
  --modal-padding-modal-mobile: var(--spacing-16);
  --modal-padding-modal-desktop: var(--spacing-20);
  --modal-padding-modal-header-bottom-mobile: var(--spacing-12);
  --modal-padding-modal-header-bottom-desktop: var(--spacing-16);
}

html {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  min-height: 100dvh;
}

#app {
  display: contents;
}

button {
  --bg: #fff;
  --color: #f26726;
  --border: #e6e6e6;
  --shadow: #0000001a;
  --focus-ring: #1eb0ff;
  align-items: center;
  background-color: var(--bg);
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--border);
  box-shadow: var(--shadow) 0 0.0625rem 0.125rem 0;
  color: var(--color);
  corner-shape: superellipse(1.6);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 2rem;
  justify-content: center;
  padding: 0.333rem 0.75rem;
  transition: color 200ms;
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: #f1f1f1;
  }

  &:focus-visible {
    border-color: var(--focus-ring);
    outline: 0.333rem solid color-mix(in srgb, var(--focus-ring), transparent);
  }
}
